:root {
  --blue: rgba(55, 125, 255, 1);
  --green: rgba(56, 203, 137, 1);
  --yellow: rgba(255, 171, 0, 1);
  --red: rgba(255, 86, 48, 1);
  --brand-color: rgba(0, 0, 0, 1);
  --neutral-01100: rgba(254, 254, 254, 1);
  --neutral-0195: rgba(254, 254, 254, 0.95);
  --neutral-0120: rgba(254, 254, 254, 0.2);
  --neutral-0110: rgba(254, 254, 254, 0.1);
  --neutral-02100: rgba(243, 245, 247, 1);
  --neutral-0250: rgba(243, 245, 247, 0.5);
  --neutral-03100: rgba(232, 236, 239, 1);
  --neutral-0375: rgba(232, 236, 239, 0.75);
  --neutral-0350: rgba(232, 236, 239, 0.5);
  --neutral-04100: rgba(108, 114, 117, 1);
  --neutral-0475: rgba(108, 114, 117, 0.75);
  --neutral-0450: rgba(108, 114, 117, 0.5);
  --neutral-0425: rgba(108, 114, 117, 0.25);
  --neutral-0415: rgba(108, 114, 117, 0.15);
  --neutral-05100: rgba(52, 56, 57, 1);
  --neutral-0550: rgba(52, 56, 57, 0.5);
  --neutral-06100: rgba(35, 38, 39, 1);
  --neutral-0695: rgba(35, 38, 39, 0.95);
  --neutral-0690: rgba(35, 38, 39, 0.9);
  --neutral-0650: rgba(35, 38, 39, 0.5);
  --neutral-07100: rgba(20, 23, 24, 1);
  --neutral-0795: rgba(20, 23, 24, 0.95);
  --neutral-0750: rgba(20, 23, 24, 0.5);
  --white: rgba(255, 255, 255, 1);
  --primary-4: rgba(69, 178, 107, 1);
  --neutrals-8: rgba(252, 252, 253, 1);
  --neutrals-2: rgba(35, 38, 47, 1);
  --hero-font-family: "Poppins", Helvetica;
  --hero-font-weight: 500;
  --hero-font-size: 96px;
  --hero-letter-spacing: -1.92px;
  --hero-line-height: 96px;
  --hero-font-style: normal;
  --headline-1-font-family: "Poppins", Helvetica;
  --headline-1-font-weight: 500;
  --headline-1-font-size: 80px;
  --headline-1-letter-spacing: -3px;
  --headline-1-line-height: 84px;
  --headline-1-font-style: normal;
  --headline-2-font-family: "Poppins", Helvetica;
  --headline-2-font-weight: 500;
  --headline-2-font-size: 72px;
  --headline-2-letter-spacing: -2px;
  --headline-2-line-height: 76px;
  --headline-2-font-style: normal;
  --headline-3-font-family: "Poppins", Helvetica;
  --headline-3-font-weight: 500;
  --headline-3-font-size: 54px;
  --headline-3-letter-spacing: -1px;
  --headline-3-line-height: 58px;
  --headline-3-font-style: normal;
  --headline-4-font-family: "Poppins", Helvetica;
  --headline-4-font-weight: 500;
  --headline-4-font-size: 40px;
  --headline-4-letter-spacing: -0.4000000059604645px;
  --headline-4-line-height: 44px;
  --headline-4-font-style: normal;
  --headline-5-font-family: "Poppins", Helvetica;
  --headline-5-font-weight: 500;
  --headline-5-font-size: 34px;
  --headline-5-letter-spacing: -0.6000000238418579px;
  --headline-5-line-height: 38px;
  --headline-5-font-style: normal;
  --headline-6-font-family: "Poppins", Helvetica;
  --headline-6-font-weight: 500;
  --headline-6-font-size: 28px;
  --headline-6-letter-spacing: -0.6000000238418579px;
  --headline-6-line-height: 34px;
  --headline-6-font-style: normal;
  --headline-7-font-family: "Poppins", Helvetica;
  --headline-7-font-weight: 500;
  --headline-7-font-size: 20px;
  --headline-7-letter-spacing: 0px;
  --headline-7-line-height: 28px;
  --headline-7-font-style: normal;
  --body-1-font-family: "Inter", Helvetica;
  --body-1-font-weight: 400;
  --body-1-font-size: 20px;
  --body-1-letter-spacing: 0px;
  --body-1-line-height: 32px;
  --body-1-font-style: normal;
  --body-1-semi-font-family: "Inter", Helvetica;
  --body-1-semi-font-weight: 600;
  --body-1-semi-font-size: 20px;
  --body-1-semi-letter-spacing: 0px;
  --body-1-semi-line-height: 32px;
  --body-1-semi-font-style: normal;
  --body-1-bold-font-family: "Inter", Helvetica;
  --body-1-bold-font-weight: 700;
  --body-1-bold-font-size: 20px;
  --body-1-bold-letter-spacing: 0px;
  --body-1-bold-line-height: 32px;
  --body-1-bold-font-style: normal;
  --body-2-font-family: "Inter", Helvetica;
  --body-2-font-weight: 400;
  --body-2-font-size: 16px;
  --body-2-letter-spacing: 0px;
  --body-2-line-height: 26px;
  --body-2-font-style: normal;
  --body-2-semi-font-family: "Inter", Helvetica;
  --body-2-semi-font-weight: 600;
  --body-2-semi-font-size: 16px;
  --body-2-semi-letter-spacing: 0px;
  --body-2-semi-line-height: 26px;
  --body-2-semi-font-style: normal;
  --body-2-bold-font-family: "Inter", Helvetica;
  --body-2-bold-font-weight: 700;
  --body-2-bold-font-size: 16px;
  --body-2-bold-letter-spacing: 0px;
  --body-2-bold-line-height: 26px;
  --body-2-bold-font-style: normal;
  --caption-1-font-family: "Inter", Helvetica;
  --caption-1-font-weight: 400;
  --caption-1-font-size: 14px;
  --caption-1-letter-spacing: 0px;
  --caption-1-line-height: 22px;
  --caption-1-font-style: normal;
  --caption-1-semi-font-family: "Inter", Helvetica;
  --caption-1-semi-font-weight: 600;
  --caption-1-semi-font-size: 14px;
  --caption-1-semi-letter-spacing: 0px;
  --caption-1-semi-line-height: 22px;
  --caption-1-semi-font-style: normal;
  --caption-1-bold-font-family: "Inter", Helvetica;
  --caption-1-bold-font-weight: 700;
  --caption-1-bold-font-size: 14px;
  --caption-1-bold-letter-spacing: 0px;
  --caption-1-bold-line-height: 22px;
  --caption-1-bold-font-style: normal;
  --caption-2-font-family: "Poppins", Helvetica;
  --caption-2-font-weight: 400;
  --caption-2-font-size: 12px;
  --caption-2-letter-spacing: 0px;
  --caption-2-line-height: 20px;
  --caption-2-font-style: normal;
  --caption-2-semi-font-family: "Inter", Helvetica;
  --caption-2-semi-font-weight: 600;
  --caption-2-semi-font-size: 12px;
  --caption-2-semi-letter-spacing: 0px;
  --caption-2-semi-line-height: 20px;
  --caption-2-semi-font-style: normal;
  --caption-2-bold-font-family: "Poppins", Helvetica;
  --caption-2-bold-font-weight: 600;
  --caption-2-bold-font-size: 12px;
  --caption-2-bold-letter-spacing: 0px;
  --caption-2-bold-line-height: 20px;
  --caption-2-bold-font-style: normal;
  --hairline-1-font-family: "Inter", Helvetica;
  --hairline-1-font-weight: 700;
  --hairline-1-font-size: 16px;
  --hairline-1-letter-spacing: 0px;
  --hairline-1-line-height: 16px;
  --hairline-1-font-style: normal;
  --hairline-2-font-family: "Inter", Helvetica;
  --hairline-2-font-weight: 700;
  --hairline-2-font-size: 12px;
  --hairline-2-letter-spacing: 0px;
  --hairline-2-line-height: 12px;
  --hairline-2-font-style: normal;
  --button-XL-font-family: "Inter", Helvetica;
  --button-XL-font-weight: 500;
  --button-XL-font-size: 26px;
  --button-XL-letter-spacing: 0px;
  --button-XL-line-height: 38px;
  --button-XL-font-style: normal;
  --button-l-font-family: "Inter", Helvetica;
  --button-l-font-weight: 500;
  --button-l-font-size: 22px;
  --button-l-letter-spacing: 0px;
  --button-l-line-height: 34px;
  --button-l-font-style: normal;
  --button-m-font-family: "Inter", Helvetica;
  --button-m-font-weight: 500;
  --button-m-font-size: 18px;
  --button-m-letter-spacing: -0.4000000059604645px;
  --button-m-line-height: 32px;
  --button-m-font-style: normal;
  --button-s-font-family: "Inter", Helvetica;
  --button-s-font-weight: 500;
  --button-s-font-size: 16px;
  --button-s-letter-spacing: -0.4000000059604645px;
  --button-s-line-height: 28px;
  --button-s-font-style: normal;
  --button-XS-font-family: "Inter", Helvetica;
  --button-XS-font-weight: 500;
  --button-XS-font-size: 14px;
  --button-XS-letter-spacing: 0px;
  --button-XS-line-height: 24px;
  --button-XS-font-style: normal;
  --button-xsmall-font-family: "Space Grotesk", Helvetica;
  --button-xsmall-font-weight: 500;
  --button-xsmall-font-size: 14px;
  --button-xsmall-letter-spacing: 0px;
  --button-xsmall-line-height: 24px;
  --button-xsmall-font-style: normal;
}
