<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="navigation-bar">
      <div class="logo">
        <p class="element"><span class="text-wrapper">3legant</span> <span class="span">.</span></p>
      </div>
      <div class="elements-navigation">
        <button class="button-wrapper">
          <button class="button">
            <div class="content"><div class="get-started">Home</div></div>
          </button>
        </button>
        <div class="div-wrapper">
          <button class="content-wrapper">
            <div class="content"><div class="div">Shop</div></div>
          </button>
        </div>
        <div class="div-wrapper">
          <button class="content-wrapper">
            <div class="content"><div class="div">Product</div></div>
          </button>
        </div>
        <button class="button-wrapper">
          <button class="content-wrapper">
            <div class="content"><div class="div">Contact Us</div></div>
          </button>
        </button>
      </div>
      <div class="icons">
        <img class="interface-outline" src="img/search-02.svg" />
        <img class="interface-outline" src="img/user-circle.svg" />
        <div class="elements-navigation-2">
          <div class="frame"><div class="text-wrapper-2">2</div></div>
          <img class="outline-shopping-bag" src="img/shopping-bag.svg" />
        </div>
      </div>
    </div>
  </body>
</html>
